h1
{
  color: #686868 !important;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: 'Limelight', sans-serif;
  font-weight: 400;
  text-align: center;
}

h2
{
    font-size: 1.5em
    font-weight: 500;
    margin: 0;
    vertical-align: baseline;
}

body
{
    height: 100%;
    margin: 0;
    color: #222222;
    font-size: 22px;
    font-family: 'Poiret One', sans-serif;
    display: block;
    max-width: 640px;
    margin: 3em auto;
}

.content img
{
    max-width: 150px;
    vertical-align: bottom;
}

.content p
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

p
{
    margin: 0 0 1.5em;
}

a
{
    border-bottom: 1px solid rgba(0,0,0,0);
    color: #0881B3;
    text-decoration: none;
}

a:hover
{
    border-bottom: 1px solid;
    transition-duration: 0.2s;
    transition-property: border;
}

.contact
{
    margin: 1em auto;
    height: 60px;
    text-align: center;
}

.contact a
{
    color: #686868
}

.contact a:hover
{
    border-bottom: 1px solid rgba(0,0,0,0);
}

#linkedin:hover
{
    color: #007bb6;
}

#github:hover
{
    color: #000000;
}

#twitter:hover
{
    color: #00aced;
}

.footer
{
    color: #aaa;
    text-shadow: #fff 0 1px 0;
    font-size: 14px;
  	text-align: center;
}

.footer a
{
    color: #aaa;
}

.footer a:hover
{
      color: #0881B3;
}
