*
{
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    font-family: 'Poiret One', sans-serif;
}

h1
{
    color: #686868;
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: 'Limelight', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0.2em;
}

h2
{
    font-size: 1.5em
    font-weight: 500;
    margin: 0;
    vertical-align: baseline;
}

.container
{
    min-height: 100%;
    position: relative;
    max-width: 640px;
    color: #222222;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
}

.container:after
{
    content: "";
    display: block;
}

.site-footer, .container:after
{
    height: 30px;
}

.content p
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centered
{
    text-align: center;
}

p
{
    margin: 0 0 1.5em;
}

a
{
    border-bottom: 1px solid rgba(0,0,0,0);
    color: #0881B3;
    text-decoration: none;
}

a:hover
{
    border-bottom: 1px solid;
    transition-duration: 0.2s;
    transition-property: border;
}

.contact
{
    margin: 1em auto;
    height: 60px;
    text-align: center;
}

.contact a
{
    color: #686868
}

.contact a:hover
{
    border-bottom: 1px solid rgba(0,0,0,0);
}

#linkedin:hover
{
    color: #007bb6;
}

#github:hover
{
    color: #000000;
}

#twitter:hover
{
    color: #00aced;
}

.site-footer
{
    color: #aaa;
    text-shadow: #fff 0 1px 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
}